
<div class="row">
  <div class="col-md-6">
  <%= image_tag("cell-ss-intro.gif", width: '400') %>
  </div>

  <div class="col-md-5 lead-block">
    <%= image_tag("votum-logo.jpg", width: '170') %>
    <p class="lead">We’ll send you a few texts each month, letting you know what Congress is voting on, ask for your opinion, and let your representatives know what you think.</p>

    <%#= render "devise/shared/links" %>

    <%= form_for(resource, :html => {:class => 'new_user simform'}, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

    <div class="simform-inner">
    <ol class="questions">
      <li><span><%= f.label :phone, "What's your number?" %></span>
      <%= f.phone_field :phone %></li>

      <li class="form_personal">
      <span class="extra">We need this info so we can look up who your represenatives are.</span>
      <span><%= f.label :first %> <%= f.label :last %></span>
      <%= f.text_field :first %> <%= f.text_field :last %>
      <span><%= f.label :address %></span> 
      <%= f.text_field :address %>
      <span><%= f.label :city, :class => 'city_label' %><%= f.label :state, :class => 'state_label' %><%= f.label :zip, :class => 'zip_label' %></span>
      <%= f.text_field :city %>
      <%= f.text_field :state %>
      <%= f.text_field :zip %></li>

      <li class="form_email">
        <span><%= f.label :email %></span>
      <%= f.email_field :email %>
      <%= hidden_field_tag 'user[subscribed]', true %>
     <!-- <span><%= f.label :password %></span>
      <%= f.password_field :password %>
      <span><%= f.label :password_confirmation %></span>
      <%= f.password_field :password_confirmation %>-->
      <%= f.submit "Sign up", :class => 'btn' %>
      </li>
    </ol>
    <div class="controls">
              <button class="next"><%= image_tag("arrow.png") %></button>
              <div class="progress"></div>
              <span class="error-message"></span>
              <span class="number">
                <span class="number-current"></span>
                <span class="number-total"></span>
              </span>
            </div><!-- / controls -->
          </div><!-- /simform-inner -->
    <% end %>
  </div>

<% if user_signed_in? %>
  <ul class="user_session">
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>
</ul>
<% else %>
  <!--<li>
  <%#= link_to('Login', new_user_session_path)  %>  
  </li>-->
<% end %>

</div>

<script>

   
     //add css class
      //  if ( $("li.form_email").is(":visible")) {
      //      $( ".next" ).hide()
     //   }
       
var new_user = document.getElementById( 'new_user' );
      new stepsForm( new_user, {

        onSubmit : function( form ) {
          // hide form
         // classie.addClass( new_user.querySelector( '.simform-inner' ), 'hide' );

          /*
          form.submit()
          or
          AJAX request (maybe show loading indicator while we don't have an answer..)
          */

          // let's just simulate something...
         // var messageEl = new_user.querySelector( '.final-message' );
         // messageEl.innerHTML = 'Thank you! We\'ll be in touch.';
         // classie.addClass( messageEl, 'show' );
        }
      } );

</script>
