<!DOCTYPE html>
<html>
<head>
  <title>Votum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <script src="https://use.typekit.net/tee3iwc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
	<div class="container">
		<%= render 'layouts/messages' %>
		<%= yield %>
	<div>
</body>
</html>
